* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	/*background: cyan;*/
	justify-content: center;
}

.container {
	background: steelblue;
	padding: 20px;
}

.container2 {
	background: seagreen;
}