* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #676363;
}

h2, p, ol {
	margin-bottom: 20px;
}

ol {
	margin-left: 25px;
}

.container {
	background-color: #FFF;
	width: 500px;
	margin: 20px;
	border-radius: 8px;
	padding: 20px;
}

.form-group {
	margin-bottom: 18px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="date"],
select,
#bio {
	width: 80%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #CCC;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
}

button {
	background-color: aqua;
	padding: 10px 20px;
	width: 80%;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-size: 15px;
}

button:hover {
	background-color: rgb(36, 229, 97);
}