body {
	background-color: yellow;
}

h1 {
	color: blue;
}

p {
	background-color: #242424;
	padding: 10px;
}

a {
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 10px;
	border-radius: 20px;
}