
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #069999;
    min-width: 500px; /*IMPORTANT*/
}

form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
}

.block-labels {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

h1 {
    text-align: center;
}

.my-form {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input:not([type="checkbox"]) {
    display: block;
    margin: auto;
    width: 80%;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    border: 0.15rem solid;
    border-color: rgb(190, 190, 190);
}

#sign-btn {
    display: block; 
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; /*ATENTION HERE*/
    
    background: rgb(52, 122, 228);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
}

#sign-btn:hover {
    background: rgb(10, 92, 214);
}

#create-acnt {
    display: block;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    
    background: rgb(40, 175, 92);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
}

#create-acnt:hover {
    background: rgb(5, 126, 54);
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 1rem 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.my-border {
    border: 1px solid rgb(248, 248, 248);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    background: #aee6e6;
  
}

#div-birthday {
    text-align: center;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#unique-prgrph {
    text-align: center;
}

#input-birthday {
    margin-top: 1rem;

}
