.my-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.item {
	height: 100px;
}

@media (min-width: 600px) {
	.my-container{
		grid-template-columns: 1fr 1fr;
	}

}

@media (min-width: 900px) {
	.my-container{
		grid-template-columns: 1fr 1fr 1fr;
	}

}

@media (min-width: 1200px) {
	.my-container{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

}