.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.container #displayArea {
    background-color: rgb(31,31,31);
    color: white;
    height: 450px;
    width: 450px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-size: 30px;
}
.controls {
    display: flex;
    justify-content: center;
}

#myBtn {
    background-color: rgb(47, 112, 233);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

#inputBox {
  
    padding: 10px;
    border-radius: 30px;
    width: 30%;
    margin-right: 5px;
    border: none;
    box-shadow: 2px 2px 4px black;
  
}

#inputBox:focus {
    outline: none
}

#myBtn:hover {
    background-color: rgb(69, 123, 221);
}