<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos - Camp Code</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row mt-4">
            <h3>fORMULÁRIO get</h3>
        </div>
            <form action="" method="get" class="row mt-4">
                <div class="col-9">
                    Digite algo para pesquisa
                    <input type="text" name="pesquisa" id="" class="form-control">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary mt-2 col-12">Pesquisar</button>
                </div>
            </form>
            <p>Você pesquisou: {{context['pesquisa']}}</p>
            
            <hr>
            <hr>

            <div class="row">
                <h3>Formulário POST</h3>
            </div>
            
            <form action="" method="post" class="row mt-4">
                <div class="col-6">
                    Nome
                    <input type="text" name="nome" id="" class="form-control" required>
                </div>
                <div class="col-6">
                    Email
                    <input type="email" name="email" id="" class="form-control" required>
                </div>
                <div class="col-12">
                    Assunto
                    <input type="text" name="assunto" id="" class="form-control" required>
                </div>
                <div class="col-12">
                    Mensagem
                    <input type="text" name="mensagem" id="" class="form-control" required>
                </div>  
                <div class="col-3">
                    <button type="submit" class="btn btn-dark mt-2 col-12">Salvar</button>
                </div>
            </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
