{% extends 'base.html' %}

{% block content %} 

<div class="container">

{% include 'nav.html' %}

    <div class="row mt-4">

        <h3>Contato</h3>

        <div class="col-md-6 mt-4">
            Nome:
            <input type="text" value="{{obj.nome}}" class="form-control bg-secondary text-white" readonly>
        </div>

        <div class="col-md-6 mt-4">
            E-mail:
            <input type="text" value="{{obj.email}}" class="form-control bg-secondary text-white" readonly>
        </div>

        <div class="col-12 mt-4">
            Assunto:
            <input type="text" value="{{obj.assunto}}" class="form-control bg-secondary text-white" readonly>
        </div>

        <div class="col-12 mt-4">
            Mensagem:
            <textarea type="text" rows="10" class="form-control bg-secondary text-white" readonly>{{obj.mensagem}}</textarea>
        </div>

    </div>

</div>

{% endblock %}
