<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudo Flask - Camp Code</title>

</head>
<body>
    
    <div>
        <h3>Estudo Flask</h3>
        <h5>@campcodebrasil</h5>
    </div>

    <div>
        <p>Bem-vindo {{context.usuario}} à aula de Flask!!!</p>
        <p><b>Idade: </b> {{context.idade}}</p>
        <a href="{{url_for('nova_pagina')}}">Link para nova página</a>
    </div>
    
</body>
</html>
