{% extends 'base.html' %}

{% block content %} 


    <div class="container">

            {% include 'nav.html' %}

            <div class="row mt-4">
                <h3>Post</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h5>Mensagem</h5>
                    <div class="col-12 border rounded p-4 shadow">
                        {{post.mensagem}}
                        <hr>
                        <img src="{{url_for('static', filename='data/post/{}'.format(post.imagem) ) }}" style="max-width: 300px;">
                    </div>
                </div>

                <div class="col-12 mt-3">
                    <form action="" method="post" class="row mt-4 p-4 rounde border shadow">
                        {{ form.csrf_token }}

                        {{ form.comentario.label() }}
                        {{ form.comentario(class="form-control") }}

                        {{ form.btnSubmit(class="btn btn-primary col-12 mt-3") }}
                    </form>
                </div>
                <hr>
                <div class="col-12 mt-4 border rounded shadow p-3">
                    <h3>Comentários</h3>
                    {% for c in post.comentarios %}
                        <p>
                            <b>Usuário: </b> {{c.user.nome}} {{c.user.sobrenome}} <br>
                            {{c.comentario}}
                        </p>
                        <hr>
                    {% endfor %}
                </div>

            </div>

    </div>

{% endblock %}