body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

h2 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(75, 77, 75);
    padding: 20px;
    border-radius: 5px;
}

button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(127, 129, 129);
    color: white;
}

button:focus {
    outline: none;
    transform: scale(1.04);
    background-color: rgb(255, 255, 255);
    color: black;
   
    
}

button:hover {
    background-color: rgb(228, 229, 230);
    color: black;
    
}