body, header {
	min-width: 600px;
	/*min-block-size: ;*/
}

body, h1, p, h2, a, ul, link {
	margin: 0;
}

body {
	background: rgb(241, 237, 201);
}

header {
	text-align: center;
	background: rgb(131, 206, 11);
}

nav {
	display: flex;
	flex-direction: inline;
	align-items: center;
	justify-content: center;

	height: 40px;
	background: rgb(54, 118, 241);
}

nav a {
	color: white;
	text-decoration: none;
	margin: 5px;
	background: rgb(57, 162, 243);
	padding: 5px;
	border-radius: 2px;
	width: 90px;
	text-align: center;
}

nav a:hover {
	background: white;
	color: blue;
}

section h1 {
	margin-bottom: 20px;
}

section {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 250px;
	background: rgb(255, 127, 243);
}

p {
	/*background: cornflowerblue;*/
	text-align: center;
}

button {
	padding: 8px;
	margin: 10px;
}

aside {
	background: rgb(247, 130, 18);
	width: 30%;
	float: left;
	height: 400px;

}

aside h2 {
	padding: 10px;
}

aside ul {
	list-style: none;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: rgb(105, 195, 247);
	width: 70%;
	float: left;
	height: 400px;
}

footer {
	display: flex;
	flex-direction: inline;
	align-items: center;
	justify-content: center;

	clear: both;
	background: rgb(71, 71, 71);
	height: 90px;
}

footer a {
	font-size: 12px;
	color: white;
	text-decoration: none;
	margin: 5px;
}

footer a:hover {
	color: rgb(75, 137, 225);
}

.post {
	background: white;
	width: 90%;
}

.post p {
	text-align: left;
	padding: 5px;
}