
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: 'Jura', 'monospace';
}

h1 {
	font-family: ;
}


