body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.wrap {
	text-align: center;
	background: dodgerblue;
	padding: 10px;

}

.wrap h3 {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#plus {
	color: green;
}

#minus {
	color: red;
}

#reset {
	color: blue;
}