* {
   margin: 0; 
   padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  
    justify-content: center;
}

.container {
    background: rgb(17, 151, 100);
    padding: 20px;
}

.container2 {
    background:rgb(15, 238, 182)
}